*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#container{
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(200deg, #153677, #4e085f);
padding: 10px;
}

#todo-cont{
    background: white;
    height: 200px;
    border-radius: 10px;
    margin: 100px auto 20px;
    padding: 40px 30px 70px;
    max-width: 540px;
}

#todo-cont h2{
    color: #153677;
    align-items: center;
}

.search{
}

.search input{
    border-radius: 20px 0 0 20px ;
    border: none;
    background: rgba(228, 219, 219, 0.52);
    
    padding: 10px;
}

.search button{
        border-radius: 0px 20px  20px  0;
    padding:  10px;
    margin-left:-4px ;
    width: 50px;
    background: rgba(231, 124, 124, 0.527);
    border: none;
}
